@import "../../style/variables.scss";

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
  max-height: 120px;
  width: 100%;
  z-index: 1;
  // min-height: 100px;
  img {
    display: block;
    width: auto;
    height: auto;
    min-width: 40px;
    max-width: 200px;
    min-height: 20px;
    max-height: 200px;
    padding-left: 20px;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    font-weight: 500;
    font-size: 20px;
    a {
      text-decoration: none;
      color: white;
    }
    div {
      cursor: pointer;
    }
  }
}