@import "../../style/variables.scss";

.side-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  bottom: 0;
  height: 90%;
  color: white;
  width: 80px;
  &_logos {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(0%, -50%);
    height: fit-content;
    top: 50%;
    bottom: 50%;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    &_logo {
      scale: 0.8;
      background-color: white;
      border-radius: 6px;
      padding: 10px;
      cursor: pointer;
    }
  }
  &_copyright {
    position: absolute;
    rotate: -90deg;
    bottom: 15%;
    transform: translate(15%, 0%);
    font-size: 8px;
    width: 130px;
  }
}