@import "../../style/variables.scss";

.radialchart {
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $tertiary-color;
  border-radius: 5px;
  &-graph {
    position: absolute;
  }
  &-score {
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: 500;
  }
  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    &_description {
      color: #74798C;
      font-size: 500;
      width: 70%;
    }
    &_title {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 1024px) and (max-height: 780px) {
  .radialchart {
    &-score {
      font-size: 12px;
      top: 5%;
      left: 5%;
    }
  }
}