@import "../../style/variables.scss";

.keydata-container {
  display: flex;
  flex-direction: row;
  background-color: $tertiary-color;
  height: 120px;
  align-items: center;
  padding: 0 40px;
  max-width: 200px;
  border-radius: 5px;
  .keydata-img {
    margin-right: 20px;
  }
  .keydata-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-title {
      margin: 10px 0;
    }
    &-description {
      color: #74798C;
    }
  }
}

@media screen and (max-width: 1024px) and (max-height: 780px) {
  .keydata-container {
    padding: 0 20px;
    width: 180px;
    height: 100px;
    .keydata-text {
      &-title {
        font-size: 20px;
      }
    }
  }
}